.charts-text-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.charts-text-body-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.charts-text-big-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
}
.charts-text-value {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  font-family: "Spacegrotesk", "Space Grotesk", sans-serif;
}

#vis-vertical-filter {
  .vis-filter-container {
    margin-left: 10px; // just for testing, remove later
  }
  .vis-filter-category-container {
    position: relative;
    display: flex;
    width: fit-content;

    .vis-filter-item {
      z-index: 11;
      padding: 12px 50px;
      border: 1px solid #040078;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      &:first-child {
        border-radius: 100px 0px 0px 100px;
      }
      &:nth-child(2) {
        border-radius: 0px 100px 100px 0px;
      }

      p {
        margin: 0;
      }

      &.selected {
        background-color: #040078;
        p {
          color: #ffffff;
        }

        .category-icon svg path {
          fill: white;
        }
      }
    }
  }
  .vis-filter-menu-container {
    position: absolute;
    top: 24px;
    right: 0;
    background-color: #ffffff;
    z-index: 10;
    border-left: 1px solid #040078;
    border-right: 1px solid #040078;
    border-bottom: 1px solid #040078;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    padding: 60px 26px 26px 26px;

    p {
      margin: 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.25;
      color: #000000;
    }

    .vertical-list {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-top: 25px;
      margin-bottom: 0px;
      list-style: none;
      padding: 0;

      .vertical-item {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #f2f2f2;
        color: #000000;
        font-size: 16px;
        line-height: 1.25;
        border-radius: 20px;
        cursor: pointer;
        white-space: nowrap;
        transition: all 0.3s ease-in-out;

        .vertical-icon {
          width: auto;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: 100%;
            height: 100%;
            circle {
              transition: fill 0.3s ease-in-out;
            }
          }
        }

        span {
          padding: 6px 12px 6px 0;
        }

        &.active {
          background-color: black;
          color: #ffffff;

          .vertical-icon svg circle {
            fill: black;
          }
          .vertical-icon svg path {
            fill: white;
          }
        }
      }
    }
  }
}

#vis-comparison-years {
  .vis-year-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: start;
    align-items: start;

    .vis-year-button {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      line-height: 1.25;
      font-weight: 400;
      color: #000000;
      background: #f8f8f8;
      cursor: pointer;
      border-radius: 10px;
      padding: 5px 15px;
      width: fill-content;

      &.selected {
        font-weight: 700;
        color: white;
        background: #0280fb;
      }
    }
  }
}
#vis-comparison-periods {
  .vis-period-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 12px;

    .vis-period-button {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      line-height: 1.25;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.7);
      background: #f8f8f8;
      cursor: pointer;
      border-radius: 10px;
      padding: 15px 15px;

      .vis-period-button-text {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      .vis-period-title {
        display: block;
        font-weight: 700;
        font-size: 18px;
      }

      &.selected {
        color: white;
        background: #0280fb;
      }
    }
  }
}

/* used in advertiser and comparison chart */
.vis-metrics-buttons-container {
  display: flex;
  gap: 12px;

  .vis-metrics-button {
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #e4e4e4;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;

    &.selected {
      background-color: #000;
      color: #ffffff;
      font-weight: 700;
    }
  }
}

#vis-user-container,
#vis-advertiser-container,
#vis-comparison-container {
  svg {
    overflow: visible;
  }
}
